export(empirical_mean_variance)
export(empirical_variance_expectation)
export(fixed_tree_theoretical_summary)
export(mrca_age_distribution)
export(mrca_age_distribution_dynamics)
export(plot_empirical_mean_paths)
export(plot_empirical_mean_variance)
export(plot_empirical_variance_expectation)
export(plot_fixed_tree_brownian_realization)
export(plot_fixed_tree_theoretical_summary)
export(plot_mrca_age_distribution_dynamics)
export(run_empirical_mean_variance_experiment)
export(run_empirical_variance_experiment)
export(simulate_empirical_mean)
export(simulate_empirical_variance)
export(simulate_fixed_tree_brownian_realization)
export(summarise_empirical_mean_simulation)
export(summarise_empirical_variance_simulation)
importFrom(graphics, axis)
importFrom(graphics, legend)
importFrom(graphics, lines)
importFrom(graphics, matlines)
importFrom(graphics, mtext)
importFrom(graphics, par)
importFrom(graphics, plot)
importFrom(graphics, polygon)
importFrom(grDevices, adjustcolor)
importFrom(stats, var)
